#!/bin/sh
# policies.json hash: {{ include "dot_config/zen-browser/policies.json" | sha256sum }}
sudo rm -f /opt/zen-browser-bin/distribution/policies.json
paru -S --needed --noconfirm zen-browser-bin
sudo cp ~/.config/zen-browser/policies.json /opt/zen-browser-bin/distribution/policies.json
